@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-brand-black text-white antialiased;
}

/* Hide horizontal scrollbars for rows */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
